<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fileuploadfunapps.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/501fbfad-59b5-4a91-9cea-fefa845d8088/resourceGroups/worldbank/providers/Microsoft.Web/sites/FileUploadFunApps</ResourceId>
    <UserName>$FileUploadFunApps</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://fileuploadfunapps.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>